
.obsh{
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 600px;
    background: #dfe6e8;
    border: 6px solid #ababe8;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 100px black;
    margin-top: 120px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.zar{
    display: flex;
    flex-direction: column;
}
.trat{
    display: flex;
    flex-direction: column;
}
.svoboda{
    display: flex;
    flex-direction: column;
    margin-top: 66px;
}
#ss{
    width: 300px;

}
#o {
    height: 30px;
    border: 1px solid #ababe8;
    border-radius: 40px;
}#oo {
    height: 30px;
    border: 1px solid #ababe8;
    border-radius: 40px;
}
#ooo {
    height: 30px;
    border: 1px solid #ababe8;
    border-radius: 40px;
}
#a {
    height: 30px;
    border: 1px solid #ababe8;
    border-radius: 40px;
}
#aa {
    height: 30px;
    border: 1px solid #ababe8;
    border-radius: 40px;
}
#aaa {
    height: 30px;
    border: 1px solid #ababe8;
    border-radius: 40px;
}
#vvv{
    position: absolute;
    margin-top: 424px;
    margin-left: 415px;
}
#itogo{
    height: 30px;
    border: 1px solid #ababe8;
    border-radius: 40px;
}
#itogo1{
    height: 30px;
    border: 1px solid #ababe8;
    border-radius: 40px;
}
#itogoSV{
    height: 30px;
    border: 1px solid #ababe8;
    border-radius: 40px;
}
body{
    background: #363636;
}